In [1]:
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib_inline

from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import KBinsDiscretizer, OneHotEncoder, PolynomialFeatures, StandardScaler, MinMaxScaler, RobustScaler 
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split, cross_val_score, cross_validate, GridSearchCV, RandomizedSearchCV

from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor, plot_tree
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
import xgboost as xgb
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor

# Import helperfunctions
from helperfunctions_models import fun_load_file, fun_save_file, fun_preprocessing, fun_load_best_params
from helperfunctions_models import fun_convert_time
from helperfunctions_models import fun_scores

# Start time count and load data
start_script = time.time()
data = fun_load_file(subfolder_path='..\\01_data\\01_TSP', name='tsp_instances_j_updated.xlsx')
X, y, train_data = fun_preprocessing(data)

# Create a train and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

# Create a smaller train set for svm
X_train_small, X_test_small, y_train_small, y_test_small = train_test_split(X, y, test_size=0.95, random_state=0)

# Save number of features and train sizes
n_features = X_train.shape[1]
train_size = f'{int(np.round(100 * len(X_train)/len(X)))} %'
train_size_small = f'{int(np.round(100 * len(X_train_small)/len(X)))} %'
results_dict = {}

# Select most important continuous features from script 'feature_selection.ipynb'
top_features = list(pd.read_csv('top_features'))

**Preprocessor to create interactions and polynomial features**

In [ ]:
# Define the preprocessing steps for continuous features
onehot_transformer = Pipeline(steps=[('binning', KBinsDiscretizer(n_bins=30, encode='ordinal', strategy='uniform')),
                                     ('onehot', OneHotEncoder(sparse_output=False, handle_unknown='ignore'))])

poly_transformer = Pipeline(steps=[('poly', PolynomialFeatures(degree=3, interaction_only=False, include_bias=False))])

# Combine preprocessing steps using ColumnTransformer
preprocessor = ColumnTransformer(transformers=[('onehot', onehot_transformer, top_features),
                                               ('poly', poly_transformer, top_features)],
                                               remainder='passthrough')

# **A. Instance-based models**
### **1. K-nearest Neighbor - KNN**

In [22]:
# Load best parameters of the model
best_params = fun_load_best_params('KNN_best_params.pkl')

# Create a pipline and set best_params as parameters
pipe = Pipeline(steps=[('scaler', None), 
                       ('knn', KNeighborsRegressor())])
pipe.set_params(**best_params)

# Estimate model performance with cross validation on the train set (scoring: MAPE and RMSE)
model_results_dict = fun_scores(model=pipe, X_train=X_train, y_train=y_train, cv=3, X_test=X_test, y_test=y_test, train_data=train_data)
results_dict['KNN'] = model_results_dict

{'knn__n_neighbors': 9, 'scaler': StandardScaler()}

CV MAPE train data:  25.2382 %
CV RMSE train data:  5.0502
CV computation time: 13s

MAPE test data: 19.6788 %
RMSE test data: 3.628

MAPE and RMSE on test data per instance size:

Number Customers,6,7,8,9,10,11,12,13,14,Mean
MAPE,18.4746,20.8207,20.7974,18.8547,21.4698,23.8151,17.7843,16.7983,19.2793,19.6788
RMSE,5.2615,4.7313,4.2218,3.8422,3.6965,3.1906,3.1287,2.8660,2.8808,3.6280

In [23]:
# Load best parameters of the model
best_params = fun_load_best_params('KNN_best_params.pkl')

# Create a pipline and set best_params as parameters
pipe = Pipeline(steps=[('preprocessor', preprocessor),
                       ('scaler', None), 
                       ('knn', KNeighborsRegressor())])
pipe.set_params(**best_params)

# Estimate model performance with cross validation on the train set (scoring: MAPE and RMSE)
model_results_dict = fun_scores(model=pipe, X_train=X_train, y_train=y_train, cv=3, X_test=X_test, y_test=y_test, train_data=train_data)
results_dict['KNN'] = model_results_dict

{'knn__n_neighbors': 9, 'scaler': StandardScaler()}

CV MAPE train data:  13.3032 %
CV RMSE train data:  3.6462
CV computation time: 2m, 59s

MAPE test data: 9.8105 %
RMSE test data: 2.3468

MAPE and RMSE on test data per instance size:

Number Customers,6,7,8,9,10,11,12,13,14,Mean
MAPE,9.8814,8.4642,9.0359,9.0039,8.7207,12.1775,10.1246,9.2447,10.5459,9.8105
RMSE,3.2639,2.6773,2.6512,2.4559,2.2365,2.2182,2.1562,2.0917,1.9847,2.3468

# **B. Linear Models**
### **1. Linear Regression**

In [13]:
# Define the model pipeline
pipe = Pipeline(steps=[('preprocessor', preprocessor),
                       ('lr', LinearRegression())])

# Estimate model performance with cross-validation on the train set (scoring: MAPE and RMSE)
model_results_dict = fun_scores(model=pipe, X_train=X_train, y_train=y_train, cv=10, X_test=X_test, y_test=y_test, train_data=train_data)
results_dict['Linear Regression'] = model_results_dict

CV MAPE train data:  4.7679 %
CV RMSE train data:  1.0483
CV computation time: 1m, 40s

MAPE test data: 4.3062000000000005 %
RMSE test data: 0.8491

MAPE and RMSE on test data per instance size:

Number Customers,6,7,8,9,10,11,12,13,14,Mean
MAPE,3.1752,3.6034,4.6648,3.9135,4.8887,6.8022,5.3877,5.5283,6.2132,4.3062
RMSE,0.8530,0.8568,1.3214,0.9085,0.9630,1.0654,1.1116,1.1519,1.2163,0.8491

### **2. Rigde Regression (L2-Regularization)**

In [16]:
# Load best parameters of the model
best_params = fun_load_best_params('Ridge_best_params.pkl')

# Define the model pipeline
pipe = Pipeline(steps=[('preprocessor', preprocessor),
                       ('ridge', Ridge(solver='svd'))])
pipe.set_params(**best_params)

# Estimate model performance with cross-validation on the train set (scoring: MAPE and RMSE)
model_results_dict = fun_scores(model=pipe, X_train=X_train, y_train=y_train, cv=5, X_test=X_test, y_test=y_test, train_data=train_data)
results_dict['Ridge Regression'] = model_results_dict

{'ridge__alpha': 0.1}

CV MAPE train data:  4.7758 %
CV RMSE train data:  1.0474
CV computation time: 2m, 10s

MAPE test data: 4.3061 %
RMSE test data: 0.8498

MAPE and RMSE on test data per instance size:

Number Customers,6,7,8,9,10,11,12,13,14,Mean
MAPE,3.0919,3.6386,4.6379,3.9201,4.8465,6.8053,5.4254,5.5467,6.2310,4.3061
RMSE,0.8341,0.8555,1.0576,0.9099,0.9549,1.0680,1.1151,1.1548,1.2178,0.8498

# **C. Decision Tree**

In [24]:
# Load best parameters of the model
best_params = fun_load_best_params('DT_GS_best_params.pkl')

# Define best parameters
#best_params = {'max_depth': 20, 'max_leaf_nodes': 1900, 'min_impurity_decrease': 0, 'min_samples_leaf': 20}

# Create model
tree = DecisionTreeRegressor(**best_params, random_state=0)

# Estimate model performance with cross-validation on the train set (scoring: MAPE and RMSE)
model_results_dict = fun_scores(model=tree, X_train=X_train, y_train=y_train, cv=3, X_test=X_test, y_test=y_test, train_data=train_data)
results_dict['Decision Tree'] = model_results_dict

{'max_depth': 20, 'min_impurity_decrease': 0.002}

CV MAPE train data:  10.7354 %
CV RMSE train data:  3.5223
CV computation time: 7s

MAPE test data: 7.8854999999999995 %
RMSE test data: 2.3304

MAPE and RMSE on test data per instance size:

Number Customers,6,7,8,9,10,11,12,13,14,Mean
MAPE,5.5518,6.3491,6.9466,7.2805,7.5332,8.8069,8.2331,8.5186,9.1783,7.8855
RMSE,2.6363,2.5754,2.5586,2.4048,2.2587,2.3153,2.2222,2.2014,2.1437,2.3304

# **D. Ensembles of Decision Trees**
### **1. Random Forest**

In [6]:
# Load best parameters of the model
best_params = fun_load_best_params('RF_best_params.pkl')

# Define best parameters
#best_params = {'n_estimators': 200, 'max_depth': 23, 'max_features': 36, 'max_leaf_nodes': 1359, 
#               'min_impurity_decrease': 0.00006018111448827135, 'min_samples_leaf': 14}

# Create model
forest = RandomForestRegressor(**best_params, n_jobs=-1, random_state=0)

# Estimate model performance with cross-validation on the train set (scoring: MAPE and RMSE)
model_results_dict = fun_scores(model=forest, X_train=X_train, y_train=y_train, cv=3, X_test=X_test, y_test=y_test, train_data=train_data)
results_dict['Random Forest'] = model_results_dict

  CV MAPE train data:  7.090000000000001 %
  CV RMSE train data:  2.1105
  CV computation time: 3 min, 36 sec

MAPE test data: 5.3467 %
RMSE test data: 1.3552
MAPE and RMSE on test data per instance size:

Number Customers,6,7,8,9,10,11,12,13,14,Mean
MAPE,5.9920,5.9255,6.3928,6.5941,6.9191,7.7468,7.3224,7.8236,9.4916,5.3467
RMSE,2.9803,2.3184,2.1953,2.0056,1.8673,1.9057,1.8050,1.8501,1.9858,1.3552

### **2. Gradient Boosting Regression Trees**

In [7]:
# Load best parameters of the model
best_params = fun_load_best_params('GBRT_RGS_best_params.pkl')

# Define best parameters
#best_params = {'n_estimators': 186, 'max_depth': 10, 'max_leaf_nodes': 1207, 'learning_rate': 0.07782676930360648, 
#               'max_features': 34, 'min_samples_leaf': 22, 'min_samples_split': 7}

# Create model
gbrt = GradientBoostingRegressor(**best_params, random_state=0)

# Estimate model performance with cross-validation on the train set (scoring: MAPE and RMSE)
model_results_dict = fun_scores(model=gbrt, X_train=X_train, y_train=y_train, cv=3, X_test=X_test, y_test=y_test, train_data=train_data)
results_dict['Gradient Boosting Regression Trees'] = model_results_dict

  CV MAPE train data:  4.6764 %
  CV RMSE train data:  1.3694
  CV computation time: 8 min, 23 sec

MAPE test data: 3.4035999999999995 %
RMSE test data: 0.9142
MAPE and RMSE on test data per instance size:

Number Customers,6,7,8,9,10,11,12,13,14,Mean
MAPE,3.3445,3.6536,3.7166,4.1281,4.1829,4.7276,4.7034,4.9871,5.1742,3.4036
RMSE,1.5565,1.3798,1.3411,1.3048,1.1878,1.2892,1.2513,1.2533,1.2828,0.9142

### **3. Extreme Gradient Boosting: XGBoost-Package**

In [8]:
# Load best parameters of the model
best_params = fun_load_best_params('XGBOOST_GS_best_params.pkl')

# Define best parameters
#best_params = {'n_estimators': 500, 'max_depth': 9, 'learning_rate': 0.05, 'subsample': 0.6, 'colsample_bytree': 1}

# Create model
xgboost = xgb.XGBRegressor(objective='reg:squarederror', **best_params, random_state=0)

# Estimate model performance with cross-validation on the train set (scoring: MAPE and RMSE)
model_results_dict = fun_scores(model=xgboost, X_train=X_train, y_train=y_train, cv=3, X_test=X_test, y_test=y_test, train_data=train_data)
results_dict['XGBoost'] = model_results_dict

  CV MAPE train data:  4.4872000000000005 %
  CV RMSE train data:  1.308
  CV computation time: 1 min, 37 sec

MAPE test data: 3.3061 %
RMSE test data: 0.8544
MAPE and RMSE on test data per instance size:

Number Customers,6,7,8,9,10,11,12,13,14,Mean
MAPE,3.0728,3.4231,3.7138,3.8340,4.0005,4.8304,4.4466,4.6774,5.0355,3.3061
RMSE,1.4733,1.2592,1.3662,1.1852,1.1254,1.1849,1.1790,1.1681,1.1833,0.8544

# **E. Linear Support Vector Machines and Kernel Machines**
**Linear SVM**

In [4]:
# Define a smaller train set due to the long computation times of svm
X_train_s, X_test_s, y_train_s, y_test_s = train_test_split(X, y, test_size=0.85, random_state=0)

# Define the preprocessing steps for continuous features
poly_transformer = Pipeline(steps=[('poly', PolynomialFeatures(degree=3, interaction_only=False, include_bias=False))])

# Combine preprocessing steps using ColumnTransformer
preprocessor = ColumnTransformer(transformers=[('poly', poly_transformer, top_features)],
                                               remainder='passthrough')

# Define the model pipeline
pipe = Pipeline(steps=[('preprocessor', preprocessor),
                                 ('scaler', StandardScaler()),
                                 ('model', SVR(kernel='linear', C=1))])

# Estimate model performance with cross-validation on the train set (scoring: MAPE and RMSE)
model_results_dict = fun_scores(model=pipe, X_train=X_train_s, y_train=y_train_s, cv=3, X_test=X_test_s, y_test=y_test_s, train_data=train_data)
results_dict['Linear SVM'] = model_results_dict

  CV MAPE train data:  5.2577 %
  CV RMSE train data:  1.1607
  CV computation time: 7 min, 1 sec

MAPE test data: 4.9546 %
RMSE test data: 1.0382
MAPE and RMSE on test data per instance size:

Number Customers,6,7,8,9,10,11,12,13,14,Mean
MAPE,3.4137,3.5725,4.3440,4.5297,4.6431,5.6107,5.7985,5.9863,6.4417,4.9546
RMSE,0.9407,0.9435,0.9786,0.9871,1.0215,1.1607,1.1828,1.2445,1.3030,1.0382

**Kernel Machine with Gaussian Kernel**

In [ ]:
# Define a smaller train set due to the long computation times of SVM
X_train_s, X_test_s, y_train_s, y_test_s = train_test_split(X, y, test_size=0.80, random_state=0)

# Load best parameters of the model
best_params = fun_load_best_params('SVM_GK_best_params.pkl')

#{'SVM__C': 750, 'SVM__gamma': 0.05, 'scaler': MinMaxScaler()}

# Define the model pipeline
pipe = Pipeline(steps=[('scaler', None),
                       ('model', SVR(kernel='rbf'))])
pipe.set_params(**best_params)

# Estimate model performance with cross-validation on the train set (scoring: MAPE and RMSE)
model_results_dict = fun_scores(model=pipe, X_train=X_train_s, y_train=y_train_s, cv=3, X_test=X_test_s, y_test=y_test_s, train_data=train_data)

  CV MAPE train data:  4.2866 %
  CV RMSE train data:  1.06
  CV computation time: 4 min, 10 sec

MAPE test data: 3.6768 %
RMSE test data: 0.8985
MAPE and RMSE on test data per instance size:

Number Customers,6,7,8,9,10,11,12,13,14,Mean
MAPE,2.5218,2.7104,3.1515,3.2899,3.6600,4.1348,4.4705,4.5488,5.2411,3.6768
RMSE,0.8278,0.8057,0.8496,0.8897,0.9394,1.0102,1.0518,1.0764,1.1477,0.8985

# **F. Neural Network - Multi Layer Perceptron**

In [2]:
# Load best parameters of the model
best_params = fun_load_best_params('NN_GS_best_params.pkl')

#{'mlp__hidden_layer_sizes': (100, 100), 'mlp__alpha': 0.1}

# Create pipeline
pipe = make_pipeline(StandardScaler(), 
                     MLPRegressor(**best_params, solver='sgd', activation='relu', learning_rate='adaptive', 
                                  batch_size='auto', max_iter=1000, shuffle=True, verbose=False, random_state=0))

# Estimate model performance with cross-validation on the train set (scoring: MAPE and RMSE)
model_results_dict = fun_scores(model=pipe, X_train=X_train, y_train=y_train, cv=3, X_test=X_test, y_test=y_test, train_data=train_data)
results_dict['Neural Network'] = model_results_dict

  CV MAPE train data:  3.3881 %
  CV RMSE train data:  0.8421
  CV computation time: 10 min, 44 sec
Iteration 1, loss = 12.58781949
Iteration 2, loss = 1.33685458
Iteration 3, loss = 1.04401674
Iteration 4, loss = 0.92833619
Iteration 5, loss = 0.86311738
Iteration 6, loss = 0.80747146
Iteration 7, loss = 0.76217969
Iteration 8, loss = 0.72808832
Iteration 9, loss = 0.69541363
Iteration 10, loss = 0.67355858
Iteration 11, loss = 0.64910908
Iteration 12, loss = 0.62558838
Iteration 13, loss = 0.60922184
Iteration 14, loss = 0.59369224
Iteration 15, loss = 0.58225326
Iteration 16, loss = 0.57310529
Iteration 17, loss = 0.55988494
Iteration 18, loss = 0.55233843
Iteration 19, loss = 0.54747365
Iteration 20, loss = 0.54294565
Iteration 21, loss = 0.53252959
Iteration 22, loss = 0.52569744
Iteration 23, loss = 0.52202749
Iteration 24, loss = 0.51360781
Iteration 25, loss = 0.50898469
Iteration 26, loss = 0.50484879
Iteration 27, loss = 0.49971858
Iteration 28, loss = 0.49705209
Iteration 29, loss = 0.49202029
Iteration 30, loss = 0.48874467
Iteration 31, loss = 0.48370185
Iteration 32, loss = 0.48150575
Iteration 33, loss = 0.47627540
Iteration 34, loss = 0.47394023
Iteration 35, loss = 0.47128534
Iteration 36, loss = 0.46519428
Iteration 37, loss = 0.46364987
Iteration 38, loss = 0.46240485
Iteration 39, loss = 0.45724811
Iteration 40, loss = 0.45436544
Iteration 41, loss = 0.45258543
Iteration 42, loss = 0.45123135
Iteration 43, loss = 0.44670096
Iteration 44, loss = 0.44748466
Iteration 45, loss = 0.44290770
Iteration 46, loss = 0.44307635
Iteration 47, loss = 0.44056465
Iteration 48, loss = 0.43678401
Iteration 49, loss = 0.43407863
Iteration 50, loss = 0.43195903
Iteration 51, loss = 0.43113664
Iteration 52, loss = 0.42827914
Iteration 53, loss = 0.42633293
Iteration 54, loss = 0.42652871
Iteration 55, loss = 0.42109690
Iteration 56, loss = 0.42071722
Iteration 57, loss = 0.41736037
Iteration 58, loss = 0.41643294
Iteration 59, loss = 0.41624142
Iteration 60, loss = 0.41407443
Iteration 61, loss = 0.41392341
Iteration 62, loss = 0.41208765
Iteration 63, loss = 0.40846166
Iteration 64, loss = 0.40610846
Iteration 65, loss = 0.40607639
Iteration 66, loss = 0.40447614
Iteration 67, loss = 0.40377667
Iteration 68, loss = 0.40303243
Iteration 69, loss = 0.40039735
Iteration 70, loss = 0.39830944
Iteration 71, loss = 0.39785237
Iteration 72, loss = 0.39624001
Iteration 73, loss = 0.39333936
Iteration 74, loss = 0.39371247
Iteration 75, loss = 0.39254368
Iteration 76, loss = 0.39003858
Iteration 77, loss = 0.39052592
Iteration 78, loss = 0.38909292
Iteration 79, loss = 0.38769710
Iteration 80, loss = 0.38717314
Iteration 81, loss = 0.38442676
Iteration 82, loss = 0.38317465
Iteration 83, loss = 0.38280268
Iteration 84, loss = 0.38127002
Iteration 85, loss = 0.38030205
Iteration 86, loss = 0.38023100
Iteration 87, loss = 0.37780578
Iteration 88, loss = 0.37608755
Iteration 89, loss = 0.37588043
Iteration 90, loss = 0.37441496
Iteration 91, loss = 0.37263147
Iteration 92, loss = 0.37372826
Iteration 93, loss = 0.37308472
Iteration 94, loss = 0.37135828
Iteration 95, loss = 0.37032550
Iteration 96, loss = 0.36975613
Iteration 97, loss = 0.36813029
Iteration 98, loss = 0.36891456
Iteration 99, loss = 0.36808745
Iteration 100, loss = 0.36679893
Iteration 101, loss = 0.36375661
Iteration 102, loss = 0.36291142
Iteration 103, loss = 0.36328726
Iteration 104, loss = 0.36239144
Iteration 105, loss = 0.36220029
Iteration 106, loss = 0.35922579
Iteration 107, loss = 0.36280663
Iteration 108, loss = 0.36002838
Iteration 109, loss = 0.35862956
Iteration 110, loss = 0.35843061
Iteration 111, loss = 0.35630877
Iteration 112, loss = 0.35558747
Iteration 113, loss = 0.35551465
Iteration 114, loss = 0.35547651
Iteration 115, loss = 0.35460897
Iteration 116, loss = 0.35454166
Iteration 117, loss = 0.35220433
Iteration 118, loss = 0.35234978
Iteration 119, loss = 0.35169643
Iteration 120, loss = 0.35113909
Iteration 121, loss = 0.34978892
Iteration 122, loss = 0.34935615
Iteration 123, loss = 0.34732709
Iteration 124, loss = 0.34732460
Iteration 125, loss = 0.34749069
Iteration 126, loss = 0.34717297
Iteration 127, loss = 0.34640066
Iteration 128, loss = 0.34472807
Iteration 129, loss = 0.34479145
Iteration 130, loss = 0.34532456
Iteration 131, loss = 0.34327804
Iteration 132, loss = 0.34371776
Iteration 133, loss = 0.34345444
Iteration 134, loss = 0.34195256
Iteration 135, loss = 0.34099832
Iteration 136, loss = 0.34187425
Iteration 137, loss = 0.33874793
Iteration 138, loss = 0.33998464
Iteration 139, loss = 0.33999951
Iteration 140, loss = 0.33742553
Iteration 141, loss = 0.33854844
Iteration 142, loss = 0.33813917
Iteration 143, loss = 0.33687853
Iteration 144, loss = 0.33734791
Iteration 145, loss = 0.33617679
Iteration 146, loss = 0.33486909
Iteration 147, loss = 0.33445240
Iteration 148, loss = 0.33289919
Iteration 149, loss = 0.33330366
Iteration 150, loss = 0.33265413
Iteration 151, loss = 0.33385753
Iteration 152, loss = 0.33136937
Iteration 153, loss = 0.33238780
Iteration 154, loss = 0.32986230
Iteration 155, loss = 0.33056067
Iteration 156, loss = 0.32961529
Iteration 157, loss = 0.33029360
Iteration 158, loss = 0.32898796
Iteration 159, loss = 0.32973827
Iteration 160, loss = 0.32985208
Iteration 161, loss = 0.32770398
Iteration 162, loss = 0.32707671
Iteration 163, loss = 0.32845471
Iteration 164, loss = 0.32540322
Iteration 165, loss = 0.32580327
Iteration 166, loss = 0.32584221
Iteration 167, loss = 0.32513625
Iteration 168, loss = 0.32454138
Iteration 169, loss = 0.32459871
Iteration 170, loss = 0.32399637
Iteration 171, loss = 0.32252546
Iteration 172, loss = 0.32313616
Iteration 173, loss = 0.32243303
Iteration 174, loss = 0.32236369
Iteration 175, loss = 0.32219141
Iteration 176, loss = 0.32191655
Iteration 177, loss = 0.32123452
Iteration 178, loss = 0.32030872
Iteration 179, loss = 0.31920468
Iteration 180, loss = 0.31982232
Iteration 181, loss = 0.31938164
Iteration 182, loss = 0.31829161
Iteration 183, loss = 0.31811930
Iteration 184, loss = 0.31806516
Iteration 185, loss = 0.31818218
Iteration 186, loss = 0.31604567
Iteration 187, loss = 0.31800768
Iteration 188, loss = 0.31616368
Iteration 189, loss = 0.31601317
Iteration 190, loss = 0.31443569
Iteration 191, loss = 0.31447465
Iteration 192, loss = 0.31679979
Iteration 193, loss = 0.31475320
Iteration 194, loss = 0.31397033
Iteration 195, loss = 0.31347369
Iteration 196, loss = 0.31485323
Iteration 197, loss = 0.31363857
Iteration 198, loss = 0.31449527
Iteration 199, loss = 0.31296680
Iteration 200, loss = 0.31254530
Iteration 201, loss = 0.31211415
Iteration 202, loss = 0.31235602
Iteration 203, loss = 0.31174717
Iteration 204, loss = 0.31055671
Iteration 205, loss = 0.31046399
Iteration 206, loss = 0.31010697
Iteration 207, loss = 0.30963689
Iteration 208, loss = 0.30964062
Iteration 209, loss = 0.30968046
Iteration 210, loss = 0.30867916
Iteration 211, loss = 0.30853682
Iteration 212, loss = 0.30893119
Iteration 213, loss = 0.30739651
Iteration 214, loss = 0.30685927
Iteration 215, loss = 0.30801567
Iteration 216, loss = 0.30721692
Iteration 217, loss = 0.30720835
Iteration 218, loss = 0.30776865
Iteration 219, loss = 0.30576903
Iteration 220, loss = 0.30771593
Iteration 221, loss = 0.30673175
Iteration 222, loss = 0.30538773
Iteration 223, loss = 0.30531972
Iteration 224, loss = 0.30468450
Iteration 225, loss = 0.30473044
Iteration 226, loss = 0.30335096
Iteration 227, loss = 0.30469821
Iteration 228, loss = 0.30371441
Iteration 229, loss = 0.30448386
Iteration 230, loss = 0.30351306
Iteration 231, loss = 0.30168119
Iteration 232, loss = 0.30270805
Iteration 233, loss = 0.30168348
Iteration 234, loss = 0.30101646
Iteration 235, loss = 0.30025948
Iteration 236, loss = 0.30187630
Iteration 237, loss = 0.30052808
Iteration 238, loss = 0.30116134
Iteration 239, loss = 0.29957537
Iteration 240, loss = 0.29966634
Iteration 241, loss = 0.29989097
Iteration 242, loss = 0.29872244
Iteration 243, loss = 0.29800622
Iteration 244, loss = 0.29994604
Iteration 245, loss = 0.29881594
Iteration 246, loss = 0.29892637
Iteration 247, loss = 0.29987014
Iteration 248, loss = 0.29955106
Iteration 249, loss = 0.29677927
Iteration 250, loss = 0.29808480
Iteration 251, loss = 0.29704137
Iteration 252, loss = 0.29845210
Iteration 253, loss = 0.29667599
Iteration 254, loss = 0.29691825
Iteration 255, loss = 0.29659185
Iteration 256, loss = 0.29637675
Iteration 257, loss = 0.29743662
Iteration 258, loss = 0.29755774
Iteration 259, loss = 0.29561299
Iteration 260, loss = 0.29427802
Iteration 261, loss = 0.29569347
Iteration 262, loss = 0.29501748
Iteration 263, loss = 0.29569181
Iteration 264, loss = 0.29403208
Iteration 265, loss = 0.29334370
Iteration 266, loss = 0.29464065
Iteration 267, loss = 0.29300903
Iteration 268, loss = 0.29243329
Iteration 269, loss = 0.29347519
Iteration 270, loss = 0.29367361
Iteration 271, loss = 0.29476482
Iteration 272, loss = 0.29296314
Iteration 273, loss = 0.29316183
Iteration 274, loss = 0.29244355
Iteration 275, loss = 0.29079390
Iteration 276, loss = 0.29235677
Iteration 277, loss = 0.29152306
Iteration 278, loss = 0.29172720
Iteration 279, loss = 0.29009179
Iteration 280, loss = 0.29033568
Iteration 281, loss = 0.29061766
Iteration 282, loss = 0.29025709
Iteration 283, loss = 0.28975096
Iteration 284, loss = 0.29008203
Iteration 285, loss = 0.28987116
Iteration 286, loss = 0.28945664
Iteration 287, loss = 0.28851755
Iteration 288, loss = 0.28862248
Iteration 289, loss = 0.28910738
Iteration 290, loss = 0.28981421
Iteration 291, loss = 0.28854756
Iteration 292, loss = 0.28699688
Iteration 293, loss = 0.28805898
Iteration 294, loss = 0.28704736
Iteration 295, loss = 0.28742134
Iteration 296, loss = 0.28998880
Iteration 297, loss = 0.28796714
Iteration 298, loss = 0.28707128
Iteration 299, loss = 0.28783798
Iteration 300, loss = 0.28598756
Iteration 301, loss = 0.28598676
Iteration 302, loss = 0.28688271
Iteration 303, loss = 0.28771570
Iteration 304, loss = 0.28441847
Iteration 305, loss = 0.28460426
Iteration 306, loss = 0.28650254
Iteration 307, loss = 0.28614351
Iteration 308, loss = 0.28523268
Iteration 309, loss = 0.28350597
Iteration 310, loss = 0.28447050
Iteration 311, loss = 0.28330024
Iteration 312, loss = 0.28351841
Iteration 313, loss = 0.28410943
Iteration 314, loss = 0.28315460
Iteration 315, loss = 0.28525074
Iteration 316, loss = 0.28228786
Iteration 317, loss = 0.28366231
Iteration 318, loss = 0.28146471
Iteration 319, loss = 0.28415694
Iteration 320, loss = 0.28366573
Iteration 321, loss = 0.28392451
Iteration 322, loss = 0.28177233
Iteration 323, loss = 0.28042477
Iteration 324, loss = 0.28156290
Iteration 325, loss = 0.28290511
Iteration 326, loss = 0.28080859
Iteration 327, loss = 0.28375150
Iteration 328, loss = 0.27928780
Iteration 329, loss = 0.28046214
Iteration 330, loss = 0.28035552
Iteration 331, loss = 0.28068526
Iteration 332, loss = 0.28120970
Iteration 333, loss = 0.28002662
Iteration 334, loss = 0.27912839
Iteration 335, loss = 0.27961584
Iteration 336, loss = 0.27964578
Iteration 337, loss = 0.27851741
Iteration 338, loss = 0.28013774
Iteration 339, loss = 0.27947740
Iteration 340, loss = 0.27976700
Iteration 341, loss = 0.27988725
Iteration 342, loss = 0.27831781
Iteration 343, loss = 0.27893940
Iteration 344, loss = 0.27779563
Iteration 345, loss = 0.27914384
Iteration 346, loss = 0.27872664
Iteration 347, loss = 0.27832865
Iteration 348, loss = 0.27844153
Iteration 349, loss = 0.27701750
Iteration 350, loss = 0.27798972
Iteration 351, loss = 0.27684511
Iteration 352, loss = 0.27681187
Iteration 353, loss = 0.27805433
Iteration 354, loss = 0.27665951
Iteration 355, loss = 0.27770056
Iteration 356, loss = 0.27697047
Iteration 357, loss = 0.27605186
Iteration 358, loss = 0.27657434
Iteration 359, loss = 0.27552307
Iteration 360, loss = 0.27570613
Iteration 361, loss = 0.27632716
Iteration 362, loss = 0.27515880
Iteration 363, loss = 0.27459094
Iteration 364, loss = 0.27522121
Iteration 365, loss = 0.27636766
Iteration 366, loss = 0.27648291
Iteration 367, loss = 0.27485070
Iteration 368, loss = 0.27455260
Iteration 369, loss = 0.27418167
Iteration 370, loss = 0.27483560
Iteration 371, loss = 0.27303155
Iteration 372, loss = 0.27299354
Iteration 373, loss = 0.27431136
Iteration 374, loss = 0.27456862
Iteration 375, loss = 0.27383950
Iteration 376, loss = 0.27355159
Iteration 377, loss = 0.27490028
Iteration 378, loss = 0.27353765
Iteration 379, loss = 0.27191029
Iteration 380, loss = 0.27263427
Iteration 381, loss = 0.27329696
Iteration 382, loss = 0.27357631
Iteration 383, loss = 0.27347090
Iteration 384, loss = 0.27293654
Iteration 385, loss = 0.27223559
Iteration 386, loss = 0.27139118
Iteration 387, loss = 0.27296835
Iteration 388, loss = 0.27219471
Iteration 389, loss = 0.27221676
Iteration 390, loss = 0.27110491
Iteration 391, loss = 0.27065234
Iteration 392, loss = 0.27096812
Iteration 393, loss = 0.27163416
Iteration 394, loss = 0.27102779
Iteration 395, loss = 0.27199844
Iteration 396, loss = 0.27157140
Iteration 397, loss = 0.27167419
Iteration 398, loss = 0.27147966
Iteration 399, loss = 0.26958771
Iteration 400, loss = 0.26908205
Iteration 401, loss = 0.27019026
Iteration 402, loss = 0.26980356
Iteration 403, loss = 0.27078628
Iteration 404, loss = 0.26950393
Iteration 405, loss = 0.26949919
Iteration 406, loss = 0.26872615
Iteration 407, loss = 0.26845477
Iteration 408, loss = 0.26895408
Iteration 409, loss = 0.26885569
Iteration 410, loss = 0.26795642
Iteration 411, loss = 0.27026508
Iteration 412, loss = 0.26926424
Iteration 413, loss = 0.26962522
Iteration 414, loss = 0.26759350
Iteration 415, loss = 0.27063488
Iteration 416, loss = 0.26985028
Iteration 417, loss = 0.26796774
Iteration 418, loss = 0.26850481
Iteration 419, loss = 0.26808642
Iteration 420, loss = 0.26745055
Iteration 421, loss = 0.26689116
Iteration 422, loss = 0.26757649
Iteration 423, loss = 0.26813198
Iteration 424, loss = 0.26876441
Iteration 425, loss = 0.26757066
Iteration 426, loss = 0.26744685
Iteration 427, loss = 0.26687555
Iteration 428, loss = 0.26757305
Iteration 429, loss = 0.26638293
Iteration 430, loss = 0.26543587
Iteration 431, loss = 0.26599879
Iteration 432, loss = 0.26654163
Iteration 433, loss = 0.26746331
Iteration 434, loss = 0.26630831
Iteration 435, loss = 0.26623948
Iteration 436, loss = 0.26736407
Iteration 437, loss = 0.26531107
Iteration 438, loss = 0.26637498
Iteration 439, loss = 0.26600689
Iteration 440, loss = 0.26749270
Iteration 441, loss = 0.26572776
Iteration 442, loss = 0.26724670
Iteration 443, loss = 0.26585656
Iteration 444, loss = 0.26580310
Iteration 445, loss = 0.26579451
Iteration 446, loss = 0.26487142
Iteration 447, loss = 0.26499800
Iteration 448, loss = 0.26521677
Iteration 449, loss = 0.26351210
Iteration 450, loss = 0.26536312
Iteration 451, loss = 0.26390554
Iteration 452, loss = 0.26408054
Iteration 453, loss = 0.26348479
Iteration 454, loss = 0.26429236
Iteration 455, loss = 0.26369640
Iteration 456, loss = 0.26404433
Iteration 457, loss = 0.26435458
Iteration 458, loss = 0.26469741
Iteration 459, loss = 0.26406783
Iteration 460, loss = 0.26393415
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Setting learning rate to 0.000200
Iteration 461, loss = 0.24998327
Iteration 462, loss = 0.24500898
Iteration 463, loss = 0.24460466
Iteration 464, loss = 0.24450845
Iteration 465, loss = 0.24460605
Iteration 466, loss = 0.24446854
Iteration 467, loss = 0.24455224
Iteration 468, loss = 0.24434222
Iteration 469, loss = 0.24428356
Iteration 470, loss = 0.24403606
Iteration 471, loss = 0.24398142
Iteration 472, loss = 0.24408328
Iteration 473, loss = 0.24404996
Iteration 474, loss = 0.24421517
Iteration 475, loss = 0.24440529
Iteration 476, loss = 0.24397106
Iteration 477, loss = 0.24405814
Iteration 478, loss = 0.24374209
Iteration 479, loss = 0.24403537
Iteration 480, loss = 0.24392857
Iteration 481, loss = 0.24395154
Iteration 482, loss = 0.24390568
Iteration 483, loss = 0.24385398
Iteration 484, loss = 0.24393970
Iteration 485, loss = 0.24373926
Iteration 486, loss = 0.24370096
Iteration 487, loss = 0.24368165
Iteration 488, loss = 0.24355824
Iteration 489, loss = 0.24370479
Iteration 490, loss = 0.24367385
Iteration 491, loss = 0.24340442
Iteration 492, loss = 0.24336667
Iteration 493, loss = 0.24367352
Iteration 494, loss = 0.24382037
Iteration 495, loss = 0.24337875
Iteration 496, loss = 0.24374880
Iteration 497, loss = 0.24357544
Iteration 498, loss = 0.24343202
Iteration 499, loss = 0.24335408
Iteration 500, loss = 0.24358479
Iteration 501, loss = 0.24319357
Iteration 502, loss = 0.24309480
Iteration 503, loss = 0.24332500
Iteration 504, loss = 0.24353294
Iteration 505, loss = 0.24307384
Iteration 506, loss = 0.24334068
Iteration 507, loss = 0.24289063
Iteration 508, loss = 0.24280590
Iteration 509, loss = 0.24298117
Iteration 510, loss = 0.24332668
Iteration 511, loss = 0.24328124
Iteration 512, loss = 0.24287941
Iteration 513, loss = 0.24298038
Iteration 514, loss = 0.24284206
Iteration 515, loss = 0.24306115
Iteration 516, loss = 0.24277997
Iteration 517, loss = 0.24316018
Iteration 518, loss = 0.24259425
Iteration 519, loss = 0.24308005
Iteration 520, loss = 0.24288934
Iteration 521, loss = 0.24258455
Iteration 522, loss = 0.24271853
Iteration 523, loss = 0.24273808
Iteration 524, loss = 0.24251809
Iteration 525, loss = 0.24275143
Iteration 526, loss = 0.24271132
Iteration 527, loss = 0.24267642
Iteration 528, loss = 0.24273392
Iteration 529, loss = 0.24232877
Iteration 530, loss = 0.24259610
Iteration 531, loss = 0.24263887
Iteration 532, loss = 0.24260030
Iteration 533, loss = 0.24238089
Iteration 534, loss = 0.24259121
Iteration 535, loss = 0.24252800
Iteration 536, loss = 0.24260569
Iteration 537, loss = 0.24263697
Iteration 538, loss = 0.24251279
Iteration 539, loss = 0.24235294
Iteration 540, loss = 0.24237287
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Setting learning rate to 0.000040
Iteration 541, loss = 0.23931558
Iteration 542, loss = 0.23866395
Iteration 543, loss = 0.23853719
Iteration 544, loss = 0.23850351
Iteration 545, loss = 0.23855068
Iteration 546, loss = 0.23857526
Iteration 547, loss = 0.23848931
Iteration 548, loss = 0.23855365
Iteration 549, loss = 0.23841274
Iteration 550, loss = 0.23847496
Iteration 551, loss = 0.23855017
Iteration 552, loss = 0.23847351
Iteration 553, loss = 0.23851352
Iteration 554, loss = 0.23852095
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Setting learning rate to 0.000008
Iteration 555, loss = 0.23776727
Iteration 556, loss = 0.23759510
Iteration 557, loss = 0.23753808
Iteration 558, loss = 0.23757090
Iteration 559, loss = 0.23754592
Iteration 560, loss = 0.23754256
Iteration 561, loss = 0.23753891
Iteration 562, loss = 0.23753417
Iteration 563, loss = 0.23750387
Iteration 564, loss = 0.23755195
Iteration 565, loss = 0.23752340
Iteration 566, loss = 0.23755796
Iteration 567, loss = 0.23752527
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Setting learning rate to 0.000002
Iteration 568, loss = 0.23737535
Iteration 569, loss = 0.23731293
Iteration 570, loss = 0.23730489
Iteration 571, loss = 0.23730536
Iteration 572, loss = 0.23731655
Iteration 573, loss = 0.23729493
Iteration 574, loss = 0.23731465
Iteration 575, loss = 0.23730621
Iteration 576, loss = 0.23730882
Iteration 577, loss = 0.23730277
Iteration 578, loss = 0.23728774
Iteration 579, loss = 0.23730551
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Setting learning rate to 0.000000
Iteration 580, loss = 0.23725584
Iteration 581, loss = 0.23725661
Iteration 582, loss = 0.23725830
Iteration 583, loss = 0.23725488
Iteration 584, loss = 0.23725564
Iteration 585, loss = 0.23725503
Iteration 586, loss = 0.23725559
Iteration 587, loss = 0.23725501
Iteration 588, loss = 0.23725500
Iteration 589, loss = 0.23725638

Number Customers,6,7,8,9,10,11,12,13,14,Mean
MAPE,1.9407,2.0723,2.3871,2.6154,2.9777,4.0545,3.4557,3.6610,4.2262,2.6125
RMSE,0.6135,0.6104,0.6592,0.6744,0.7238,0.7917,0.8154,0.8426,0.8814,0.6039

# **G. Compare Results**

In [17]:
# Get model names, the scores for each model and the computation times
model_names = results_dict.keys()
cv_times = [value['CV computation time'] for value in results_dict.values()]
MAPE_train_scores = [value['MAPE']['Train data'] for value in results_dict.values()]
MAPE_test_scores = [value['MAPE']['Test data'] for value in results_dict.values()]
RMSE_train_scores = [value['RMSE']['Train data'] for value in results_dict.values()]
RMSE_test_scores = [value['RMSE']['Test data'] for value in results_dict.values()]

# Show scores per instance size for each model
cv_times_df = pd.DataFrame(data=[cv_times], columns=model_names, index=['CV Computation Times'])
MAPE_df = pd.DataFrame(data=[MAPE_train_scores, MAPE_test_scores], columns=model_names, index=['Train Set', 'Test Set']).sort_values(by='Test Set', axis=1)
MAPE_df.columns.name = 'MAPE Scores'
RMSE_df = pd.DataFrame(data=[RMSE_train_scores, RMSE_test_scores], columns=model_names, index=['Train Set', 'Test Set']).sort_values(by='Test Set', axis=1)
RMSE_df.columns.name = 'RMSE Scores'
display(cv_times_df, MAPE_df, RMSE_df, )

# Show scores per instance size for each model
MAPE_cat_scores = [value['Scores per instance size'].loc['MAPE'] for value in results_dict.values()]
RMSE_cat_scores = [value['Scores per instance size'].loc['RMSE'] for value in results_dict.values()]
MAPE_cat_scores_df = pd.DataFrame(data=MAPE_cat_scores, index=model_names).sort_values(by='Mean')
MAPE_cat_scores_df.columns.name = 'MAPE Scores per instance size'
RMSE_cat_scores_df = pd.DataFrame(data=RMSE_cat_scores, index=model_names).sort_values(by='Mean')
RMSE_cat_scores_df.columns.name = 'RMSE Scores per instance size'
display(MAPE_cat_scores_df, RMSE_cat_scores_df)

# Save data frames with results into excel files
fun_save_file(data=MAPE_df, subfolder_path='03_test_scores', name='MAPE_scores.xlsx')
fun_save_file(data=RMSE_df, subfolder_path='03_test_scores', name='RMSE_scores.xlsx')
fun_save_file(data=MAPE_cat_scores_df, subfolder_path='03_test_scores', name='MAPE_cat_scores.xlsx')
fun_save_file(data=RMSE_cat_scores_df, subfolder_path='03_test_scores', name='RMSE_cat_scores.xlsx')

# Print total script run time
print('Total script computation time:', fun_convert_time(start=start_script, end=time.time()))

                      KNN Linear Regression Ridge Regression
CV Computation Times  12s           1m, 40s          2m, 10s

MAPE Scores  Ridge Regression  Linear Regression      KNN
Train Set              4.7758             4.7679  25.2382
Test Set               4.3061             4.3062  19.6788

RMSE Scores  Linear Regression  Ridge Regression     KNN
Train Set               1.0483            1.0474  5.0502
Test Set                0.8491            0.8498  3.6280

MAPE Scores per instance size,6,7,8,9,10,11,12,13,14,Mean
Ridge Regression,3.0919,3.6386,4.6379,3.9201,4.8465,6.8053,5.4254,5.5467,6.2310,4.3061
Linear Regression,3.1752,3.6034,4.6648,3.9135,4.8887,6.8022,5.3877,5.5283,6.2132,4.3062
KNN,30.0477,30.3287,30.5400,26.0854,27.4481,29.6154,21.9447,20.9688,23.7126,19.6788

RMSE Scores per instance size,6,7,8,9,10,11,12,13,14,Mean
Linear Regression,0.8530,0.8568,1.3214,0.9085,0.9630,1.0654,1.1116,1.1519,1.2163,0.8491
Ridge Regression,0.8341,0.8555,1.0576,0.9099,0.9549,1.0680,1.1151,1.1548,1.2178,0.8498
KNN,7.8002,6.6780,5.7500,5.0469,4.8402,4.3695,3.9374,3.5544,3.5374,3.6280

File saved successfully!
File saved successfully!
File saved successfully!
File saved successfully!
Total script computation time: 34m, 3s

In [11]:
#display(MAPE_df, RMSE_df)

MAPE Scores,Neural Network,XGBoost,Gradient Boosting Regression Trees,Ridge Regression,Linear Regression,Random Forest,Decision Tree,KNN
Train Set,4.0641,4.4872,4.6764,5.2108,11.4193,7.0900,10.1798,25.2382
Test Set,3.1935,3.3061,3.4036,4.3995,4.3998,5.3467,7.3302,19.6788

RMSE Scores,Neural Network,XGBoost,Gradient Boosting Regression Trees,Linear Regression,Ridge Regression,Random Forest,Decision Tree,KNN
Train Set,0.9677,1.3080,1.3694,526.3029,1.1874,2.1105,3.4694,5.0502
Test Set,0.7112,0.8544,0.9142,0.9270,0.9305,1.3552,2.2329,3.6280